.container {
  display: flex; /* Torna o elemento um Flex Container (pai), permitindo alinhar e distribuir os itens filhos (Flex Items) em linha ou coluna */
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  
}

.form_cadastro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 15px;
  background-color: #1c2738;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

#butão_cadastro {
  border-radius: 30px;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer; /*Indica ao usuario q o botão é clicavel*/
  background-color: #5aa88c;
  font-size: 14px;
  color: white;
}

#butão_cadastro:hover {
  /* Hover é um pseudoseletor que aplica o estilo somente quando o mouse está sobre o elemento.*/
  opacity: 0.8;
  /* Quando o mouse passa por cima do botão, ele fica um pouco mais transparente */
}

input {
  border: 1.7px solid rgba(255, 255, 255, 0.08);
  border-radius: 30px;
  height: 40px;
  font-size: 16px;
  padding-left: 12px;  /* Para não ficar grudado a letra */
  outline: none; /* Remove o contorno padrão */
}

/* Remove as setas no Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #5aa88c;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
}

.card p {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.card span {
  font-weight: normal;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card button:hover {
   opacity: 0.7;
}
