/* --- ESTILOS GERAIS --- */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #12121a;
}

/* --- CONTAINER PRINCIPAL --- */
.containerHome {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- BARRA DE NAVEGAÇÃO --- */
.navHome {
  width: 100%;
  height: 90px;
  background: #1E1E2F;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 20px;
  box-sizing: border-box;
}

/* --- SEÇÕES DA NAV --- */
.logoTituloHome,
.direita-nav,
.botoesHome {
  display: flex;
  align-items: center;
  gap: 10px;
}

.direita-nav {
  gap: 25px;
}

.botoesHome {
  gap: 20px;
}

/* --- ELEMENTOS DA NAV --- */
.logoHome {
  height: 55px;
  width: auto;
  margin-top: 6px;
}

#h1Home {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.containerH2 h2 {
  color: #e0e0e0;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

/* --- BOTÕES DE PERFIL --- */
.botoesHome button {
  border-radius: 30px;
  height: 45px;
  width: 130px;
  border: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #43349d;
  transition: all 0.3s ease;
}

.botoesHome button:hover,
.botoesHome button.active {
  /* Estilo do botão ativo/hover. */
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: #5644c5;
  border-color: #a39cf1;
}