/* --- RESET GLOBAL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* --- AJUSTE DE ALTURA --- */
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* --- ESTILOS DO BODY --- */
body {
  background: radial-gradient(circle,
      #6a5acd 0%,
      /* roxo claro no centro */
      #4b3d99 50%,
      /* intermediário */
      #181430 100%
      /* roxo bem escuro nas bordas */
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* Facilita o alinhamento central nos containers filhos */
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  /* Força a cor do texto para branco */
  transition: background-color 5000s ease-in-out 0s;
  /* Hack para evitar que o navegador mude a cor */

  /* O truque principal: cria uma sombra interna transparente que cobre o fundo padrão. */
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}