/* --- BARRA DE NAVEGAÇÃO --- */
.containerPadrao {
  width: 100%;
  position: fixed; /* Fixa a navbar no topo. */
  top: 0;
  left: 0;
  z-index: 1000;
}
.navPadrao {
  width: 100%;
  height: 90px;
  background: #1E1E2F;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 20px;
  box-sizing: border-box;
}

/* --- LOGO E TÍTULO --- */
.logoTituloPadrao {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logoPadrao { height: 55px; width: auto; margin-top: 6px; }
#h1Padrao {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  margin: 0;
}

/* --- BOTÃO DE NAVEGAÇÃO --- */
.botaoNav { margin-left: auto; margin-right: 20px; }
.botaoNav button {
  height: 45px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  background-color: #43349d;
  color: white;
  border: none;
  cursor: pointer;
  white-space: nowrap; 
  transition: all 0.3s ease;
}
.botaoNav button:hover {
  background-color: #5644c5;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.botaoNav button:disabled {
  background-color: #555;
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
.botaoNav button:disabled:hover { background-color: #555; }